<!DOCTYPE html>
<html lang="en">
<head>
    <!-- M00774667 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=##, initial-scale=1.0">
    <title>SchoolFlex</title>
    <!-- Import all the necessary libraries -->
    <!-- Import Bootstrap, css and font-awesome icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <!-- Import javascript with Vue-->
    <script src="index.js" defer></script>
</head>
<body>
    <div id="App">
        <!-- Header section for the navigation bar -->
        <section id="header">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <!-- Page logo & link for the main page -->
                    <h1 class="navbar-brand" v-on:click="displayPage(0)">SchoolFlex</h1>
                    <!-- Toggle button to expand the navigation bar on a small page -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Navigation bar -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <!-- Button to display the checkout page if the cart is not empty -->
                                <button v-on:click="displayPage(1)" v-if="cartItemsCount"
                                    class="nav-link btn0 w-auto bg-rgb">
                                    {{cartItemsCount}}
                                    <span class="fas fa-cart-shopping"></span>
                                    Checkout
                                </button>
                                <!-- Disable button if the cart is empty -->
                                <button disabled="disabled" class="nav-link btn0 w-auto bg-rgb" v-else>
                                    <span class="fas fa-cart-shopping"></span>
                                    Checkout
                                </button>
                            </li>
                        </ul>
                        <!-- Search bar  -->
                        <form class="d-flex" role="search">
                            <input class="px-2 search" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn0 bg-rgb" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        </section>
        <!-- Div for the shop page -->
        <div v-if="displayPages === 0">
            <!-- Main section to display the introduction background -->
            <section id="main">
                <hr class="divider">
                <div class="container py-5">
                    <div class="row py-4">
                        <div class="col-lg-7 pt-5 text-center">
                            <h1 class="pt-5">Pick your lectures, Pick SchoolFlex!</h1>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Location section to display all the possible locations -->
            <section id="locations" class="bg-black">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 col-12 m-auto">
                            <div class="row text-center">
                                <!-- Vue.js for loop to display the locations -->
                                <div class="col-lg-4 col-md-6 col-12 my-1" v-for="location in lessonsSortedLocations">
                                    <h3 v-text="location" class="locationText"></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Trending section to display the trending lessons available -->
            <section id="trending" class="bg-rgb">
                <div class="container py-3">
                    <div class="row m-auto text-center">
                        <div class="col-lg-5 m-auto">
                            <h1 class="text-white">Trending Lessons</h1>
                            <h6 class="text-white">Increase your knowledge</h6>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Vue.js for loop to display the trending lessons cards -->
                        <div class="col-lg-4 text-center" v-for="trend in trendingLessons">
                            <div class="card border-0 bg-light mb-2 curvyR cardText">
                                <div class="card-body">
                                    <img v-bind:src="trend.img.location" class="img-fluid hw-100px curvyR bg-rgb"
                                        alt="trend.img.alt">
                                    <p v-text="trend.subject"></p>
                                    <p>£{{trend.price}}</p>
                                    <p>{{itemsLeft(trend)}} Spaces Available</p>
                                    <p v-text="trend.location"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Store section to display all the lessons with sorting options -->
            <section id="store">
                <div class="container">
                    <div class="row py-5">
                        <div class="col-lg-8 m-auto text-center">
                            <h1>Nurture Your Brain</h1>
                            <h6 style="color: rgb(30, 150, 146);">Shop Some Lessons</h6>
                        </div>
                        <div class="col-lg-8 m-auto text-center py-5">
                            <h6>Sort your search by:</h6>
                            <div class="row">
                                <div class="col-lg-10  text-center">
                                    <!-- Select section for the type of sorting implemented to display the lessons -->
                                    <select v-model="sort.by" class="btn0 text-center"
                                        style="background-color: rgb(30, 150, 146);">
                                        <option disabled value="">----</option>
                                        <!-- Displaying the sorting options from the Vue obj -->
                                        <option v-for="option in sort.options" v-bind:key="option"
                                            v-bind:value="option">
                                            {{option}}
                                        </option>
                                    </select>
                                    <!-- Choices for the order of the sorted lessons -->
                                    <input type="radio" id="ascending" value="Ascending" v-model="sort.order">
                                    <label for="ascending">Ascending</label>
                                    <input type="radio" id="descending" value="Descending" v-model="sort.order">
                                    <label for="descending">Descending</label>
                                </div>
                            </div>
                            <hr class="divider">
                        </div>
                        <div class="row">
                            <!-- Vue.js for loop to display all the lessons sorted according to the choices made -->
                            <div class="col-lg-3 text-center" v-for="lesson in sortedLessons">
                                <div class="card border-0 bg-rgb mb-2 curvyR cardText text-white">
                                    <div class="card-body">
                                        <img v-bind:src="lesson.img.location" class="img-fluid hw-100px curvyR"
                                            alt="lesson.img.alt">
                                        <p v-text="lesson.subject"></p>
                                        <p>£{{lesson.price}}</p>
                                        <p>{{itemsLeft(lesson)}} Spaces Available</p>
                                        <p v-text="lesson.location"></p>
                                        <!-- Button to add the item to the cart -->
                                        <button class="bg-dark btn0" v-on:click="addToCart(lesson)"
                                            v-if="canAddToCart(lesson)">Add to
                                            cart
                                        </button>
                                        <!-- Disable button if the item is sold out -->
                                        <button class="btn0" disabled="disabled" v-else>Unavailable</button>
                                        <span v-if="itemsLeft(lesson) === 0">No spaces left!</span>
                                        <span v-else-if="itemsLeft(lesson) < 5"> Few spaces left!</span>
                                        <span v-else>Buy now!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Div for the checkout page -->
        <div v-else-if="displayPages === 1">
            
        </div>
        <!-- Footer section for extra information and links -->
        <section id="footer" class="py-5 bg-black">
            <div class="container py-5">
                <div class="row">
                    <div class="col-lg-9 m-auto text-center">
                        <h1>Thanks for shopping with us!</h1>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-lg-11 m-auto">
                        <div class="row">
                            <div class="col-lg-4 py-3 text-center">
                                <strong class="pb-3">CUSTOMER CARE</strong>
                                <p>Complaints</p>
                            </div>
                            <div class="col-lg-4 py-3 text-center">
                                <strong class="pb-3">ABOUT US</strong>
                                <p>Contact us</p>
                            </div>
                            <div class="col-lg-4 py-3 text-center">
                                <strong class="pb-3">SOCIAL MEDIA</strong>
                                <p style="margin: 5px 0;">Twitter <span class="fab fa-twitter"></span></p>
                                <p style="margin: 5px 0;">Facebook <span class="fab fa-facebook"></span></p>
                                <p style="margin: 5px 0;">Instagram <span class="fab fa-instagram"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>